
#contenido{width: 80%;
           margin: 0px auto;
           margin-top: 4%;
           -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
           -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
           box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75); padding:2em;
           background-color: #f5f5f5;}
.datosEmpresa{
    font-size: 19px;
    height: 50%;
    text-align: center;
}
#texto_centrado{text-align: center;}
#lista_especialidades{width: 70%;}
#lista_medicos{width: 70%;}
.divInputs{display: inline-block;
           width: 50%;
}
.divInputs2{display: inline-block;
            width: 50%;
            text-align: center;}
.datosMedicos{}
#titulo{text-align: center;}
.calendario_main{
    margin: 0 auto;
    width: 50%;
}
#boton_confirmar{
    float: right;
}
#calendar{
    margin-top: 30px !important;
}


