#info_empresa{
    text-align: center;
    margin-top: 150px;
    background-color: white;
    padding: 2em;
}
#pedirCita{
    width: 650px;
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    background-image: url('../Imagenes/PedirCita.jpg');

}
#darDiasLibres{
    width: 650px;
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    background-image: url('../Imagenes/diasLibres.jpg');
}
#darDiasLibres:hover{
    opacity: 0.7;
}
#darDiasLibres >h2{
    padding: 2.5em;
}
#mostrarCitasMedicos{
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    height: 200px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    background-image: url('../Imagenes/citasMedicos.jpg');
}
#mostrarCitasMedicos:hover{
    opacity: 0.7;    
}
#mostrarCitasMedicos > h2{
    padding: 2.5em;
}
#pedirCita:hover{
    opacity: 0.7;
}
tr > td{
    padding: 1em;
}
#pedirCita > h2{
    padding: 2.5em;

}
#cancelarCita{
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    height: 200px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    background-image: url('../Imagenes/CancelarCita.jpg');
}
#cancelarCita:hover{
    opacity: 0.7;
}
#cancelarCita > h2{
    padding: 2.5em;
}
#fondoParaImagen{
    background-image: url('../Imagenes/Wallpaper_inicio.jpg');
    height: 600px;
}
#contenido{width: 90%;
           min-height: 750px;
           max-width: 1200px;
           margin: 0px auto;
           margin-top: 4%;
           -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
           -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
           box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75); padding:2em;
           background-color: #f5f5f5;
           margin-bottom: 20px;}
.datosEmpresa{
    font-size: 19px;
    height: 50%;
    text-align: center;
}
#botonesOpciones{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#tabla_citas{
    width: 100%;
    text-align: center;
    border-style: solid;
    border: 2px black;
    font-size: 18px;
    margin-top: 10px;
}
#texto_centrado{text-align: center;}
#lista_especialidades{width: 70%;}
#lista_medicos{width: 70%;}
.divInputs{float:left;
           width: 50%;
}
.divInputs2{float:left;
            width: 50%;
            text-align: center;}
.datosMedicos{}
#titulo{text-align: center;}
.calendario_main{
    margin: 0 auto;
    width: 50%;
}
#boton_confirmar{
    float: right;
}
#calendar{
    margin-top: 30px !important;
}
#calendar_1{
    width: 500px !important;
    float:left;
}
.divDerecho{
    float:left;
    text-align: justify;
    margin-left: 100px; 
    font-size: 25px;

}
.divIzquierdo{
    float:left;
    width: 50%;
    font-size: 20px;
}
.icon_contacto{
    width: 50px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.hero {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 50px);
    .inner {
        position: relative;
        max-width: 960px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;
        box-sizing: padding-box;
        z-index: 4;
        h1 {
            color: rgba(163,32,109,0.6);
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            border-bottom: 2px rgba(163,32,109,0.6) dashed;
        }
        p {
            color: #999999;
            margin-bottom: 0;
            font-size: 13px;
            line-height: 150%;
            max-width: 550px;
            &.small {
                font-size: 12px;
            }
            a {
                display: inline-block;
                font-size: 22px;
                color: rgba(163,32,109,0.4);
                margin: 0 10px;
                transform: rotateY(0deg);
                transition: transform 0.2s ease-in-out, color 0.2s linear;
                &:hover {
                    color: rgba(163,32,109,0.8);
                    transform: rotateY(360deg);
                    transition: transform 0.6s ease-in-out, color 0.4s linear;
                }
            }
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        background: -moz-linear-gradient(top,  rgba(114,81,109,0.2) 0%, rgba(238,238,238,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
        background: linear-gradient(to bottom,  rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
        z-index: 3;
    }

}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    #hero-canvas {
        width: 100%;
        height: 100%;
        position: relative;

    }
}
